NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://Almgiver:Almgiver@cluster0.f4ovp80.mongodb.net/?appName=Cluster0/almgiver
JWT_SECRET=change_this_to_a_long_random_secret
CLIENT_URL=http://localhost:5173
RAZORPAY_KEY_ID=rzp_test_SWMhInUQ0oNQHc
RAZORPAY_KEY_SECRET=xCnRGTpVakL8HLlNKFjTwOaw
ADMIN_REGISTRATION_KEY=optional_admin_bootstrap_key
